*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background:url('./todo_background.png');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
    
}

#mainBox{
    background-color: rgb(174, 165, 165);
    /* text-transform: inherit; */
}

.box{
    text-align: center;
    width: 450px;
    border-radius: 0.1%;
    box-shadow: 12px 12px 2px 1px rgb(0 0 255 / 0.2);
    padding: 0.1rem;
    background-color:#8f9091;
}

.item{
    display: flex;
    padding: 0.4rem;
    font-size: 1.5rem;
    margin: 0.2rem;
    width: 100%;
    margin-bottom: 0.8rem;
}

.item p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300vh;
    
}

.style-priority-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: large;
    margin-top: 10px;
}

.style{
    font-size: x-large;
    color:azure;
}

.input-field{
    display: flex;
    margin: 3px;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    flex-direction: row;
    width: 100%;

    
}

.send-portion{
    display: flex;
    justify-content: center;
    align-items: center;
}
#update{
    display: flex;
    flex-direction: column;
    background-color: rgb(174, 165, 165);
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
    padding: 5px;
    
}

.priority{
    display: flex;
    font-size: 8px;
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    margin-left: 20px;    
}
.priority-select{
    font-size: 10px;
    width: 40px;
    height: 20px;
    margin-top: 2px;
    color: rgb(221, 77, 48);
    background-color: rgb(48, 61, 25);
    border-radius: 2px;
}
.item input{
    margin-left: 0.2rem;
    
}

input:checked+p{
    text-decoration: line-through;
    text-decoration-color: rgb(255, 0, 0);
}



.form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    
}

.edit{
    margin: 0.5rem;
    background-color: burlywood;

}

#updateButton{
    height: 35px;
    width: 60px;
    border-radius: 5%;
    background-color: burlywood;
}
#plus{
    background-color: brown;
}
.Del{
    margin: 0.5rem;
    background-color: burlywood;

}

#cancelButton{
    background-color: burlywood;
}

form input{
    height: 2.5rem;
    width: 50%;
    border-radius: 4%;
    margin-right: 0.2rem;
    
    text-align: center;
}

.form select{
    font-size: 1rem;
    margin: 0.3rem;
}

form button{
    height: 2.5rem;
    width: 3rem;
    border-radius: 50%;
    margin: 5px;
}

footer{
   display: block;
   transform: translateY(16.1rem);
   height: 10%;
   width: 100%;


   
}


@media only screen and (max-width: 1440px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box{
        width: 400px;
        
    }
    .item p{
        font-size: medium;
    }
}

@media only screen and (max-width: 771px){
    .item p{
        font-size: small;
    }
    .box{
        width: 400px;
    }

    form input{
        height: 2rem;
        width: 42%;
    }

    #updateButton{
      height: 27px;  
    }
}
@media only screen and (max-width: 465px){
    body{
        font-size: small;
    }
    .box{
        width: 300px;
    }

    #update{
    height: 150px;
   }

   .style{
    font-size: large;
   }
}


